.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #f8f9fa;
  padding: 15px;
  width: 100%;
  align-items: center;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 4px;
  transition: 0.3s;
}

.nav-link:hover {
  background-color: #34495e;
}

.nav-link.active {
  color: #007bff;
  font-weight: bold;
}
.logout-btn {
  background: none;
  border: 1px solid #dc3545;
  color: #dc3545;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #dc3545;
  color: white;
}
